#scheduler {
  overflow-x:auto;
  border-collapse: collapse;
  width: 80%;
}

#scheduler td, #scheduler th {
    border: 1px solid #ddd;
    padding: 8px;
}

#scheduler tr:nth-child(even) {
  background-color: #f2f2f2;
}

#scheduler tr:hover {
  background-color: #ddd;
}

#scheduler th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #373c44;
    color: #fff;
}
